<div class="list-container">
  <h2 class="list-title">Listes des alertes</h2>
  
  <div class="list-scroll-area">
    <div class="empty-list" *ngIf="filteredBulletins().length === 0">
      Liste vide
    </div>

    <div 
      class="alert-item" 
      *ngFor="let bulletin of filteredBulletins()"
      [id]="'dept-' + bulletin.departement.num"
      [ngClass]="getAlertClass(getDisplayLevel(bulletin.alertes))"
      [class.selected-item]="isSelected(bulletin)"
      (click)="selectDepartement(bulletin)"
    >
      <div class="item-info">
        <span class="dept-name">{{ bulletin.departement.num }} - {{ getDeptName(bulletin.departement.num) }}</span>
        <span class="alert-summary">{{ getAlertSummary(getFilteredAlerts(bulletin.alertes)) }}</span>
      </div>
      <div class="item-level">
        {{ getDisplayLevel(bulletin.alertes) }}
      </div>
    </div>
  </div>
</div>